<br>
<div class="col-4">
  <form>
    <div class="form-group">
      <label for="inputNick">Uploader</label>
      <input
        type="text"
        class="form-control"
        id="inputNick"
        aria-describedby="nickHelp"
        placeholder="Optional"
      />
      <small id="nickHelp" class="form-text text-muted"
        >Put your name or nickname.</small
      >
    </div>

    

    <div class="form-group">
      <label for="exampleFormControlFile1">Card Image</label>
      <input type="file" class="form-control-file" id="imgInput" />
    </div>
  </form>
</div>
