<div class="container" align="center">
  <div *ngIf="selectMenu">
    <br />
    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn btn-dark dropdown-toggle"
      >
        Show <span class="caret"></span>
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <button class="btn dropdown-item" (click)="getVerifiedParts()">
            Verified
          </button>
        </li>
        <li role="menuitem">
          <button class="btn dropdown-item" (click)="getUnverifiedParts()">
            Unverified
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row" align="center"style="margin-left: 90px;">
  <div *ngFor="let card of partsArray" >
    <div class="card mb-3 margin" style="max-width: 340px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            [src]="card.image"
            class="card-img"
            alt="Card {{ card.id }} cannot be displayed."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Uploader: {{ card.uploader }}</h5>
            <p class="card-text">Type: {{ card.type }}</p>
            <p class="card-text">
              <small class="text-muted">{{
                returnOrientation(card.isLeftOriented)
              }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
