<br>
<div class="row" align="center"style="margin-left: 90px;">
  <div *ngFor="let card of delList" >
    <div class="card mb-3 margin clickable" style="max-width: 340px;" (click)="card.marked = !card.marked" [ngClass]="{'marked': card.marked}">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            [src]="card.image"
            class="card-img"
            style="margin-left: 15px; margin-top: 15px;"
            alt="Card {{ card.id }} cannot be displayed."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Uploader: {{ card.uploader | slice:0:8}}</h5>
            <p class="card-text">Type: {{ card.type }}</p>
           <p class="card-text">
              <small class="text-muted">{{ card.uploadDate }}</small>
            </p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container fixed-bottom" style="margin-bottom: 30px;">
  <nav aria-label="pagenav">
      <ul class="pagination">
        <li class="page-item"><button class="page-link" (click)="changePage(actualPage-1)">Previous</button></li>
        <li *ngFor="let page of pages; let i = index" class="page-item"><button class="page-link" (click)="changePage(i)">{{i + 1}}</button></li>
        <li class="page-item"><button class="page-link"(click)="changePage(actualPage+1)">Next</button></li>
        <li><button type="button" class="btn btn-danger" style="margin-left: 1200px;" (click)="delete()">Delete</button></li>
      </ul>
    </nav>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-danger">Empty</h4>
  </div>
  <div class="modal-body">
    No elements to show.
  </div>
</ng-template>