<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="container-fluid">
  <div class="row">
    <div [ngSwitch]="status"
      class="col-2 px-1 bg-light position-fixed border-right h-100"
      align="center"
      id="sticky-sidebar">
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/upload']">Upload</a>
        <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/about']">About</a>



          <div *ngSwitchCase="'logged'">
              <a class="list-group-item list-group-item-action text-info menumargin border-top" [routerLink]="['/admin/verify']">Verify</a>
              <a class="list-group-item list-group-item-action text-info" [routerLink]="['/admin/list']">List</a>
              <a class="list-group-item list-group-item-action bg-light text-danger" [routerLink]="['/upload']" (click)="onLogout()">Logout</a>
            <div class="fixed-bottom lockmargin" align="left">
              <button type="button" class="btn btn-outline-light" [routerLink]="['/admin/register']">
              <i class="material-icons text-dark">lock_open</i>
            </button>

            </div></div>

            <div *ngSwitchCase="'unlogged'"><div class="fixed-bottom lockmargin" align="left">
                <button type="button" class="btn btn-outline-light" [routerLink]="['/login']">
                <i class="material-icons text-dark">lock</i>
              </button>
              </div></div>

          <div *ngSwitchDefault><div class="spinner-border spinner-border-sm fixed-bottom spinmargin" role="status"></div></div>

      </div>
    </div>
    <div class="col offset-2" id="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

